.navbar{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar-box{
    background-color: white !important;
}

.navbar-name{
    font-weight: bold;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    cursor: pointer;
    padding-left: 1%;
    color: rgb(47, 47, 47) !important;
}

/* @media (min-width: 768px){
    .pr-md-5, .px-md-5 {
        padding-right: 0 !important;
    }
} */

#responsive-navbar-nav {
    text-align: center;
}

.nav-link {
    display: inline-block;
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgba(0,0,0,.5);
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}
