@media only screen and (min-width: 1170px){
}

@media (max-width: 1169px) {
}

.about-row{
    padding: 2%;
    padding-left: 0%;
}

.about-img-wrapper{
    text-align: center;
}

.about-img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-text{
    font-size: 0.9rem;
    font-family: 'Lato';
    letter-spacing: 0px;
    padding-left: 2%;
}